In [4]:
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn import naive_bayes
from sklearn.metrics import roc_auc_score,accuracy_score
import pickle

In [5]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [23]:
dataset = pd.read_csv('./datasets/IMDB_Review_Dataset.csv')

In [24]:
dataset.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [25]:
dataset.tail()

                                                  review sentiment
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

In [26]:
stopset = set(stopwords.words('english'))

In [27]:
vectorizer = TfidfVectorizer(use_idf = True,lowercase = True, strip_accents='ascii',stop_words=stopset)

In [29]:
X = vectorizer.fit_transform(dataset.review)
y = dataset.sentiment
pickle.dump(vectorizer, open('sentiment_analysis.pkl', 'wb'))

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [31]:
clf = naive_bayes.MultinomialNB()
clf.fit(X_train,y_train)

MultinomialNB()

In [32]:
accuracy_score(y_test,clf.predict(X_test))*100

86.59

In [33]:
clf = naive_bayes.MultinomialNB()
clf.fit(X,y)

MultinomialNB()

In [34]:
accuracy_score(y_test,clf.predict(X_test))*100

90.48

In [35]:
filename = 'sentiment_nlp_model.pkl'
pickle.dump(clf, open(filename, 'wb'))